#titulo{
	color:#8E0229;
}

.jumbotron {
	background:#337ab7;
	color:#FFF;
	padding:20px 0;
}

.jumbotron .titulo-blog {
	font-size:80px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF;
	font-weight: bold;
	font-weight: 25px;
}

.navbar.navbar-inverse.navbar-static-top{
	background-color:#8E0229;
	border-color: #8E0229;
}

.btn.btn-lg.btn-primary.btn-block{
	background-color: #8E0229;
	border-color: #337ab7;
	border-radius: 15px;
	border-width:  2px;
}

input {
	text-align: center;
	font-weight: bold;
}

#login{
	text-align: center;
	width: 50%;
}

footer {
	background-color: #8E0229;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 25px;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}


nav ul li a{
   /*Transiciones*/
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	-ms-transition: 0.4s linear all;
}

nav ul li a:hover{
	text-shadow:0px 0px 15px #337ab7;
}

nav li li a{
   width:100%;/*el ancho de los links del submenu, debe ser fijo, esto servirá para crear la animación mas adelante */
   display:block;
   text-align:center;
   padding:0px 0px 0px 0px;
}

nav{
	/*Transiciones*/
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	-ms-transition: 0.4s linear all;
}

nav:hover{
	box-shadow:0px -5px 25px #337ab7, 0px 5px 25px #337ab7;
	-moz-box-shadow:0px -2px 5px #337ab7, 0px 2px 5px #337ab7;
	-ms-box-shadow:0px -2px 5px #337ab7, 0px 2px 5px #337ab7;
	-o-box-shadow:0px -2px 5px #337ab7, 0px 2px 5px #337ab7;
	-webkit-box-shadow:0px -5px 25px #337ab7, 0px 5px 25px #337ab7;
	
}

.dropdown-menu{
	 /*Transiciones*/
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	-ms-transition: 0.4s linear all;
}

.dropdown-menu:hover{
	text-shadow:#FFCCCC 0px 0px 10px;
	box-shadow:0px -5px 25px #8E0229, 0px 5px 25px #8E0229;
	-moz-box-shadow:0px -2px 5px #8E0229, 0px 2px 5px #8E0229;
	-ms-box-shadow:0px -2px 5px #8E0229, 0px 2px 5px #8E0229;
	-o-box-shadow:0px -2px 5px #8E0229, 0px 2px 5px #8E0229;
	-webkit-box-shadow:0px -5px 25px #8E0229, 0px 5px 25px #8E0229;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: transparent;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}