#titulo{
	color:#8E0229;
}

.jumbotron {
	background:#337ab7;
	color:#FFF;
	padding:20px 0;
}

.jumbotron .titulo-blog {
	font-size:80px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF;
	font-weight: bold;
	font-weight: 25px;
}

.navbar.navbar-inverse.navbar-static-top{
	background-color:#8E0229;
	border-color: #337ab7;
}

.btn.btn-lg.btn-primary.btn-block{
	background-color: #8E0229;
	border-color: #337ab7;
	border-radius: 15px;
	border-width:  2px;
}


input {
	text-align: center;
	font-weight: bold;
}

#login{
	text-align: center;
	width: 50%;
}

footer {
	background-color: #8E0229;
	color: #FFFFFF;
	padding: 10px;
	margin-top: 25px;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
