#titulo{
	color:#8E0229;
}

.jumbotron {
	background:#337ab7;
	color:#FFF;
	padding:20px 0;
}

.jumbotron .titulo-blog {
	font-size:80px;
}

.navbar-inverse .navbar-nav>li>a{
	color: #FFFFFF;
	font-weight: bold;
	font-weight: 25px;
}

.navbar.navbar-inverse.navbar-static-top{
	background-color:#8E0229;
	border-color: #337ab7;
}

.btn.btn-lg.btn-primary.btn-block{
	background-color: #8E0229;
	border-color: #337ab7;
	border-radius: 15px;
	border-width:  2px;
}


input {
	text-align: center;
	font-weight: bold;
}

#login{
	text-align: center;
	width: 50%;
}

footer {
	background-color: #8E0229;
	color: #FFFFFF;
	padding: 5px;
}

#objetivo{
	color: #8E0229;
	font-weight: bold;
	padding-left: 50px;
	padding-right: 50px;
}