<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HCanterior</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorMostrarConsulta</servlet-name>
    <servlet-class>controladores.ControladorMostrarConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarConsulta</servlet-name>
    <url-pattern>/MostrarConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMostrarPacientePorID</servlet-name>
    <servlet-class>controladores.ControladorMostrarPacientePorID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarPacientePorID</servlet-name>
    <url-pattern>/MostrarPacienteID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMostrarPacientePorDNI</servlet-name>
    <servlet-class>controladores.ControladorMostrarPacientePorDNI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarPacientePorDNI</servlet-name>
    <url-pattern>/MostrarPacienteDNI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMostrarHistoriaClinica</servlet-name>
    <servlet-class>controladores.ControladorMostrarHistoriaClinica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarHistoriaClinica</servlet-name>
    <url-pattern>/MostrarHistoriaClinica</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ControladorMostrarHistoriaClinicaExterno</servlet-name>
    <servlet-class>controladores.ControladorMostrarHistoriaClinicaExterno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarHistoriaClinicaExterno</servlet-name>
    <url-pattern>/MostrarHistoriaClinicaExterno</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorEstadistica</servlet-name>
    <servlet-class>controladores.ControladorEstadisticas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEstadistica</servlet-name>
    <url-pattern>/mostrarEstadisticas</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ControladorEstadisticasExterno</servlet-name>
    <servlet-class>controladores.ControladorEstadisticasExterno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorEstadisticasExterno</servlet-name>
    <url-pattern>/mostrarEstadisticasExterno</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ControladorAgregarConsulta</servlet-name>
    <servlet-class>controladores.ControladorAgregarConsulta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAgregarConsulta</servlet-name>
    <url-pattern>/AgregarConsulta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorMostrarConsultasEntreFechas</servlet-name>
    <servlet-class>controladores.ControladorMostrarConsultasEntreFechas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorMostrarConsultasEntreFechas</servlet-name>
    <url-pattern>/VerConsultas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorLogin</servlet-name>
    <servlet-class>controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorCambioClave</servlet-name>
    <servlet-class>controladores.ControladorCambioClave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCambioClave</servlet-name>
    <url-pattern>/cambioClave</url-pattern>
  </servlet-mapping>

<servlet>
		<servlet-name>ControladorGrafico</servlet-name>
		<servlet-class>controladores.ControladorGrafico</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControladorGrafico</servlet-name>
		<url-pattern>/chart</url-pattern>
</servlet-mapping>



</web-app>